# skylium.cfg
# Skylium configuration file.
# For more info, see http://code.google.com/p/skylium/wiki/ConfigFile

tellmeabout warnings,errors

using_vbo true

min_vbo_size 256
max_vbo_size 268435456

fullscreen false

hud_exists true

mouse_visible true

gl_red_size 8
gl_blue_size 8
gl_green_size 8
gl_depth_size 24

opengl_version 2 1

create_mipmaps true
